<div class="section-container" style="width: 85%;">
    <h4 id="{{item.title}}" class="section-title" style="margin-bottom: 20px;">{{item.title}}</h4>
    <div class="containerflex">
        {{#each item.items}}
        <div class="card">
            <div style="float:left;">
                {{#if new}}
                <span class="badge bg-danger" style="float:right;color:white">NEW</span>
                
                {{/if}}
                <span class="badge bg-danger" style="float:right;color:white">{{end_date}} </span>
                <span class="badge badge-info" style="float:right">{{count}} bids</span>
            </div>
            <div class="section-image-parent">
                <img class="card-img-top" src="{{img_url}}" alt="Card image cap">
            </div>

            <div class="card-body">
                <h6 class="card-title" style="float: left;font-size:smaller;font-weight:bold"><a class="product-name"
                        href="/item/{{product_id}}">{{brand}} {{model}}</a></h6>

                <div class="currency" style="float: right;font-size:large;font-weight:bold;color:red">
                    <span class="sign">$</span>
                    <span class="currency">{{max_price}}</span>
                </div>
                <br>
                <p class="card-text" style="clear:both;"><b>Holding by: {{user_info}}</b></p>
                {{#if is_holding}}
                    <span class="badge bg-danger" style="color:white">Your holding this product </span>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="js/section.js"></script>